@import "reset";
@import "fonts";

body {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #504f4f;
}
.header {
    padding: 16px 0;
}

.container {
    max-width: 1476px;
    margin: 0 auto;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner-center {
    display: flex;
    align-items: center;
}
.header-location-icon {
    margin: 0 10px;
}

.text1 {
    line-height: 100%;
}
.text2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.text3 {
    font-family: "Open Sans";
    font-style: normal;

    line-height: 140%;
}

.header__inner-right {
    display: flex;
    gap: 30px;
}
.header__right-search {
    padding: 14px 0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #424242;
    background-color: transparent;
    border-radius: 8px;
    &:hover {
        box-shadow: 2px 2px 2px #757575;
        transition: all 0.3s;
    }
}

.btn-login {
    text-align: center;
    background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 8px;
    padding: 14px 24px;
    &:hover {
        box-shadow: 2px 2px 2px #757575;
        transition: all 0.3s;
    }
}
.btn-login span {
    font-size: 18px;
    line-height: 100%;
    margin-left: 10px;
}

.top {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 132px 0;
}
.top__title {
    font-weight: 700;
    font-size: 88px;
    line-height: 100%;
    color: #ffffff;
    text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    margin-bottom: 15px;
}
.title-text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #504f4f;
}
.line-up {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 30px;
}
.line-up-btns {
    display: flex;
    gap: 10px;
    padding: 10px 24px;
    background: rgba(241, 114, 40, 0.1);
    border-radius: 8px;
    font-size: 18px;
    line-height: 100%;
    color: #757575;
    &:hover {
        box-shadow: 2px 2px 2px #757575;
        transition: all 0.3s;
    }
    
    }

.pickup {
    background: none;
}

.pickup-link,
.delivery-link {
    color: #757575;
    &:hover {
        color:#f17228;
        transition: all 0.3s;
        
    }
}
    
        
    

.line-down {
    display: flex;
    justify-content: space-between;
}
.top-form {
    padding: 24px;
    max-width: 856px;
    background-color: #fff;
    border-radius: 16px;
}
.input-line-down {
    display: flex;
    background-color: transparent;
}
.input-adress {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    flex-grow: 1;
    border-radius: 16px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
.btn-find-food {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 21px 48px;
    margin-left: 16px;
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.3s;
    &:hover{
        box-shadow: 2px 2px 2px #757575;
        
    }
}

.galery-discount {
    padding: 80px 0;
}

.galery__list {
    display: flex;
    gap: 16px;
}
.galery__item-link:hover{
    opacity: 0.5;
    box-shadow:4px 5px 4px#151212;
}
.photo-img {
    border-radius: 16px;
}
.galery-block-img {
    position: relative;
    margin-bottom: 32px;
}
.discount-block {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffb30e;
    border-radius: 0px 32px 0px 16px;
    display: flex;
    align-items: center;
    padding: 10px 18px 11px;
    .discount-block-value {
        font-size: 68px;
        line-height: 106%;
        display: flex;
        align-items: center;
        color: #ffffff;
    }
    .discount-block-info {
        .procent {
            font-size: 35px;
            line-height: 120%;
            color: #ffffff;
        }
    }
    .off {
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #ffffff;
    }
}

.up {
    font-size: 22px;
    line-height: 120%;
    color: #424242;
    margin-bottom: 14px;
}
.down {
    padding: 8px 16px;
    background: rgba(241, 114, 40, 0.2);
    border-radius: 8px;
    font-size: 22px;
    line-height: 120%;
    color: #F17228;
    }
.how-work {
    padding: 80px 0;
    margin-bottom: 80px;
    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
}

.title__how-work {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #f17228;
    margin-bottom: 71px;
}
.how-work__list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.down-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #9e9e9e;
}
.title__popular {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin-bottom: 88px;
}
.popular__list {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.popular__item img {
    margin-bottom: 16px;
}
.up-popular {
    font-size: 22px;
    line-height: 120%;
    color: #424242;
    margin-bottom: 8px;
}
.location-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #ffb30e;
}
.price-item {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #212121;
    margin-bottom: 16px;
}
.item-btn {
    background: #f17228;
    box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
    border-radius: 8px;
    padding: 21px 92px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s;
    &:hover {
        background: #cccc;
        box-shadow: 2px 2px 2px #757575;
        color: #f17228;
    }
}
.featured {
    padding: 80px 0;
}
.title__featured {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
    margin-bottom: 88px;
}
.container {
}
.featured__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-row-gap: 64px;
}
.featured__item {
    transition: all 0.3s;
    &:hover {
        opacity: .8;
        box-shadow: 2px 2px 2px #757575;
    }
}
.img-block img {
    border-radius: 16px;
}
.img-block {
    position: relative;
    margin-bottom: 24px;
}
.discount {
    max-width: 144px;
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    gap: 10px;
    padding: 8px 16px;
    background: #f17228;
    border-radius: 8px;
}
.discount-item {
    font-size: 22px;
    line-height: 120%;
    color: #ffffff;
    
}
.fast {
    position: absolute;
    top: 24px;
    left: 162px;
    max-width: 120px;
    display: flex;
    gap: 10px;
    background: #ffb30e;
    border-radius: 8px;
    align-items: center;
    padding: 8px 16px;
}
.fast-span {
    font-size: 22px;
    line-height: 120%;
    color: #ffffff;
}
.logo-block {
    display: flex;
    gap: 24px;
}
.food-name span {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: #ffb30e;
}
.food-name-text {
    font-size: 22px;
    line-height: 120%;
    color: #424242;
}
.btn-featured-item {
    padding: 8px 16px;
    font-size: 22px;
    line-height: 120%;
    color: #f17228;
    background: rgba(241, 114, 40, 0.2);
    border-radius: 16px;
    margin-top: 32px;
}

.green {
    background: rgba(121, 185, 60, 0.2);
    color: #79b93c;
}
.view-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 14px;
    padding: 21px 48px;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    margin: 88px auto;
    transition: all .3s;
    &:hover {
        box-shadow: 2px 2px 2px #757575;
    }
}
.search {
    padding: 82px 55px;
    background: #fefaf1;
}
.container {
}
.search__line-up {
    display: flex;
    justify-content: space-between;
}
.title__search {
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    text-align: center;
    color: #212121;
}
.block-view {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 88px;
    
}
.view {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #ffb30e;
    background: transparent;
    border-radius: 9px;
    transition: all 0.3s;
    &:hover {
        box-shadow: 2px 2px 2px #757575;
    }
}
.btn-line-up {
    margin-right: 10px;
}

.arrows {
    display: flex;
    align-items: center;
}
.arrow__left,
.arrow__right
 {
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FAAA01;
    border-radius: 92px;
    padding: 10px 11px 10px 9px;
    border: 1px solid #FAAA01;
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    transition: all 0.3s;
    &:hover {
        box-shadow: 2px 2px 2px #757575;
        opacity: 0.4;
    }
}
.arrow__right {
    margin-left: 16px;
}
.search__list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.search__item {
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        opacity: .8;
        box-shadow: 2px 2px 2px 2px #757575;
    }
}
.search__item img {
    border-radius: 50%;
}
.item-name {
    display: block;
    margin-top: 52px;
}
.install {
    padding: 130px 0 0;
    background: #feefd0;
}

.install__list {
    max-width: 1230px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    border-radius: 46px;
    display: flex;
    justify-content: center;
    padding: 55px;
    gap: 40px;
}
.install__item {
    display: flex;
    gap: 30px;
    align-items: center;
}
.install__item:after {
    display: block;
    content: "";
    height: 96px;
    width: 2px;
    background: #cfcfcf;
}
.install__item:last-child::after {
    content: none;
}
.insall-text {
    font-size: 35px;
    line-height: 120%;
    background: linear-gradient(92.84deg, #fb3c00 -47.72%, #ffb800 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.google {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #ffffff;
    mix-blend-mode: normal;
    padding: 10px 13px;
    border-radius: 5px;
}
.google-app {
    display: flex;
    gap: 8px;
}
.google-discription {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}
.app {
    display: flex;
    gap: 10px;
    padding: 12px 15px 9px 15px;
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 7px;
}
.app-store {
    display: flex;
}
.app-discription {
    display: flex;
    flex-direction: column;
}
.install__down-block {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 62px;
    position: relative;
    padding-right: 185px;
    padding-bottom: 213px;
}

.phones-img {
    position: absolute;
    left: 125px;
    bottom: 0;
}
.install__down-block-discription {
    max-width: 456px;
    margin-left: 144px;
}
.title-discr {
    font-weight: 700;
    font-size: 68px;
    line-height: 106%;
    background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 16px;
}
.text-discr {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #827e7e;
    margin-bottom: 40px;
}
.wanna-eat {
    padding: 55px 0;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
}
.wanna-eat__list {
}
.wanna-eat__item {
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
    border-radius: 16px;
}
.block-info {
    padding: 56px;
    background: #ffffff;
}
.title-item {
    max-width: 354px;
    font-weight: 700;
    font-size: 43px;
    line-height: 112%;
    color: #353535;
    margin-bottom: 19px;
}
.title-item span {
    color: #ffb30e;
}

.text-item {
    max-width: 315px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: rgba(97, 97, 97, 0.69);
    margin-bottom: 112px;
}
.btn-item {
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 21px;
    color: #ffffff;
    background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    
    &:hover {
        opacity: .8;
        box-shadow: 2px 2px 2px 2px #757575;
    }
}
.block-img img {
}

.container {
}
.down-section {
    padding: 91px 0 75px 0;
    background-image: url(images/down-bcg.png);
    background-repeat: no-repeat;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}
.down__title {
    max-width: 728px;
    text-align: center;
    font-weight: 900;
    font-size: 57px;
    line-height: 97.5%;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}
.down__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 62px auto 0;
    padding: 21px 48px;
    background: linear-gradient(93.41deg, #f17228 -5.63%, #f15e28 100.8%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    &:hover {
        opacity: .8;
        box-shadow: 2px 2px 2px 2px #757575;
    }
}
.footer {
    min-height: 936px;
    background-color: #212121;
    padding-top: 99px;
}
.cities__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 40px;
}
.cities {
    
    &__list {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .items__list {
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #f5f5f5;
        .items__list-name {
            margin-bottom: 16px;
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 63px 0;
    margin-bottom: 16px;
    margin-top: 99px;
    border-bottom: 2px solid #424242;
    border-top: 2px solid #424242;
    &__link {
        display: block;
        font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #F5F5F5;
    &:hover {
        text-decoration: underline;
        opacity: 0.6;
    }
    }
    &__left-side {
        display: flex;
        gap: 117px;
    }
    &__left-side-title {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: #ffffff;
    }
    &__item {
        margin-bottom: 16px;
    }
    .right-side__title {
        font-size: 18px;
        line-height: 120%;
        text-transform: uppercase;
        color: #f5f5f5;
        opacity: 0.6;
        margin-bottom: 40px;
    }
}
.social {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 43px;
    opacity: 0.31;
    
}

.follow__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: #bbbbbb;
    margin-bottom: 40px;
}
.subscribe {
    display: flex;
    gap: 16px;
    align-items: center;
    
}
.block-input {
    display: flex;
    background: #424242;
    border-radius: 8px;
    padding-left: 16px;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
    &:hover {
        opacity: .8;
        box-shadow: 2px 2px 2px 2px #757575;
    }
}
.input {
    padding: 17px 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #adadad;
    background: #424242;
    border-radius: 8px;
}
.subscribe__btn {
    padding: 21px 27px;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    transition: all 0.3s;
    &:hover {
        opacity: .8;
        box-shadow: 2px 2px 2px 2px #757575;
        
    }
}
.all-rights {
    display: flex;
    justify-content: space-between;
}
.all-rights__left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.first {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #f5f5f5;
}
.last {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    color: #f5f5f5;
}
.all-rights__right {
    display: flex;
    align-items: center;
    gap: 8px;
}
