* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(fonts/SourceSansPro-Regular.ttf.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url(fonts/SourceSansPro-Black.ttf.woff2);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url(fonts/SourceSansPro-Bold.ttf.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url(fonts/CeraPro-Light.woff2);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url(fonts/CeraPro-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url(fonts/CeraPro-Bold.woff2);
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #504f4f;
}

.header {
  padding: 16px 0;
}

.container {
  max-width: 1476px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner-center {
  display: flex;
  align-items: center;
}

.header-location-icon {
  margin: 0 10px;
}

.text1 {
  line-height: 100%;
}

.text2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.text3 {
  font-family: "Open Sans";
  font-style: normal;
  line-height: 140%;
}

.header__inner-right {
  display: flex;
  gap: 30px;
}

.header__right-search {
  padding: 14px 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #424242;
  background-color: transparent;
  border-radius: 8px;
}

.btn-login {
  text-align: center;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 8px;
  padding: 14px 24px;
}
.btn-login:hover {
  box-shadow: 0px 5px 20px rgba(255, 174, 0, 0.4), 0px 20px 40px rgba(255, 174, 0, 0.4);
}

.btn-login span {
  font-size: 18px;
  line-height: 100%;
  margin-left: 10px;
}

.top {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 132px 0;
}

.top__title {
  font-weight: 700;
  font-size: 88px;
  line-height: 100%;
  color: #ffffff;
  text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
  margin-bottom: 15px;
}

.title-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #504f4f;
}

.line-up {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 30px;
}

.line-up-btns {
  display: flex;
  gap: 10px;
  padding: 10px 24px;
  background: rgba(241, 114, 40, 0.1);
  border-radius: 8px;
  font-size: 18px;
  line-height: 100%;
  color: #757575;
}
.line-up-btns:hover path {
  fill: #f17228;
}

.pickup {
  background: none;
}

.pickup-link,
.delivery-link {
  color: #757575;
  transition: all 0.3s;
}
.pickup-link:hover,
.delivery-link:hover {
  color: #f17228;
}

.line-down {
  display: flex;
  justify-content: space-between;
}

.top-form {
  padding: 24px;
  max-width: 856px;
  background-color: #fff;
  border-radius: 16px;
}

.input-line-down {
  display: flex;
  background-color: transparent;
}

.input-adress {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  flex-grow: 1;
  border-radius: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.btn-find-food {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 21px 48px;
  margin-left: 16px;
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  transition: background, 0.3s;
}
.btn-find-food:hover {
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #bd4500 135.31%);
}

.galery-discount {
  padding: 80px 0;
}

.galery__list {
  display: flex;
  gap: 16px;
}

.galery__item {
  padding-bottom: 16px;
}

.galery__item:hover {
  box-shadow: 0px 5px 20px rgba(255, 174, 0, 0.4), 0px 20px 40px rgba(255, 174, 0, 0.4);
}

.galery__item-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photo-img {
  border-radius: 16px;
}

.galery-block-img {
  position: relative;
  margin-bottom: 32px;
}

.discount-block {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffb30e;
  border-radius: 0px 32px 0px 16px;
  display: flex;
  align-items: center;
  padding: 10px 18px 11px;
}
.discount-block .discount-block-value {
  font-size: 68px;
  line-height: 106%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.discount-block .discount-block-info .procent {
  font-size: 35px;
  line-height: 120%;
  color: #ffffff;
}
.discount-block .off {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
}

.up {
  font-size: 22px;
  line-height: 120%;
  color: #424242;
  margin-bottom: 14px;
}

.down {
  padding: 8px 16px;
  background: rgba(241, 114, 40, 0.2);
  border-radius: 8px;
  font-size: 22px;
  line-height: 120%;
  color: #f17228;
}

.how-work {
  padding: 80px 0;
  margin-bottom: 80px;
  background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
}

.title__how-work {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  text-align: center;
  color: #f17228;
  margin-bottom: 71px;
}

.how-work__list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

.down-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #9e9e9e;
}

.title__popular {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  text-align: center;
  color: #212121;
  margin-bottom: 88px;
}

.popular__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.popular__item img {
  margin-bottom: 16px;
}

.up-popular {
  font-size: 22px;
  line-height: 120%;
  color: #424242;
  margin-bottom: 8px;
}

.location-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffb30e;
}

.price-item {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #212121;
  margin-bottom: 16px;
}

.item-btn {
  background: #f17228;
  box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 20px 40px rgba(250, 99, 35, 0.24);
  border-radius: 8px;
  padding: 21px 92px;
  margin-top: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s;
}
.item-btn:hover {
  transform: scale(1.05);
}

.featured {
  padding: 80px 0;
}

.title__featured {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  text-align: center;
  color: #212121;
  margin-bottom: 88px;
}

.featured__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  grid-row-gap: 64px;
}

.img-block img {
  border-radius: 16px;
}

.img-block {
  position: relative;
  margin-bottom: 24px;
}

.discount {
  max-width: 144px;
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  background: #f17228;
  border-radius: 8px;
}

.discount-item {
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
}

.fast {
  position: absolute;
  top: 24px;
  left: 162px;
  max-width: 120px;
  display: flex;
  gap: 10px;
  background: #ffb30e;
  border-radius: 8px;
  align-items: center;
  padding: 8px 16px;
}

.fast-span {
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
}

.logo-block {
  display: flex;
  gap: 24px;
}

.food-name span {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffb30e;
}

.food-name-text {
  font-size: 22px;
  line-height: 120%;
  color: #424242;
}

.btn-featured-item {
  display: inline-block;
  padding: 8px 16px;
  font-size: 22px;
  line-height: 120%;
  color: #f17228;
  background: rgba(241, 114, 40, 0.2);
  border-radius: 16px;
  margin-top: 32px;
}

.green {
  background: rgba(121, 185, 60, 0.2);
  color: #79b93c;
}

.view-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(97.86deg, #ffba26 -8.95%, #ff9a0e 109.24%);
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 14px;
  padding: 21px 48px;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin: 88px auto;
  transition: all 0.3s;
}
.view-btn:hover {
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.5), 0px 20px 40px rgba(255, 174, 0, 0.5);
}

.search {
  padding: 82px 55px;
  background: #fefaf1;
}

.search__line-up {
  display: flex;
  justify-content: space-between;
}

.title__search {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  text-align: center;
  color: #212121;
}

.block-view {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 88px;
}

.view {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #ffb30e;
  background: transparent;
  border-radius: 9px;
}

.btn-line-up {
  margin-right: 10px;
}

.arrows {
  display: flex;
  align-items: center;
}

.arrow__left,
.arrow__right {
  width: 76px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faaa01;
  border-radius: 92px;
  padding: 10px 11px 10px 9px;
  border: 1px solid #faaa01;
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  transition: all 0.3s;
}
.arrow__left:hover,
.arrow__right:hover {
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.5), 0px 14px 32px rgba(255, 178, 14, 0.5);
}

.arrow__right {
  margin-left: 16px;
}

.search__list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.search__item {
  text-align: center;
  transition: color, 0.3s;
  cursor: pointer;
}
.search__item:hover {
  color: #faaa01;
}

.search__item img {
  border-radius: 50%;
}

.item-name {
  display: block;
  margin-top: 52px;
}

.install {
  background: #feefd0;
  min-height: 1045 px;
}
.install__inner {
  padding-top: 130px;
  padding-bottom: 80px;
  margin: 0 auto;
  padding-right: auto;
  max-width: 1230px;
}

.install__list {
  padding: 55px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
  border-radius: 46px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.install__item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.install__item:after {
  display: block;
  content: "";
  height: 96px;
  width: 2px;
  background: #cfcfcf;
}

.install__item:last-child::after {
  content: none;
}

.insall-text {
  font-size: 35px;
  line-height: 120%;
  background: linear-gradient(92.84deg, #fb3c00 -47.72%, #ffb800 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.google {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #ffffff;
  mix-blend-mode: normal;
  padding: 10px 13px;
  border-radius: 5px;
}

.google-app {
  display: flex;
  gap: 8px;
}

.google-discription {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
}

.app {
  display: flex;
  gap: 10px;
  padding: 12px 15px 9px 15px;
  background: #ffffff;
  mix-blend-mode: normal;
  border-radius: 7px;
}

.app-store {
  display: flex;
}

.app-discription {
  display: flex;
  flex-direction: column;
}

.install__down-block {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 62px;
  position: relative;
  padding-right: 185px;
  padding-bottom: 213px;
}

.phones-img {
  position: absolute;
  left: 125px;
  bottom: 0px;
}

.install__down-block-discription {
  max-width: 456px;
  margin-left: 144px;
}

.title-discr {
  font-weight: 700;
  font-size: 68px;
  line-height: 106%;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 16px;
}

.text-discr {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #827e7e;
  margin-bottom: 40px;
}

.wanna-eat {
  padding: 55px 0;
  filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
}
.wanna-eat .wanna-img {
  flex-grow: 1;
}

.wanna-eat__item {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  filter: drop-shadow(0px 14px 15px rgba(124, 124, 124, 0.06)) drop-shadow(0px 27px 82px rgba(124, 124, 124, 0.28));
  border-radius: 16px;
  overflow: hidden;
}

.block-info {
  padding: 56px;
  background: #ffffff;
}

.title-item {
  max-width: 354px;
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  color: #353535;
  margin-bottom: 19px;
}
.title-item span {
  color: #ffb30e;
}

.text-item {
  max-width: 315px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: rgba(97, 97, 97, 0.69);
  margin-bottom: 112px;
}

.btn-item {
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 21px;
  color: #ffffff;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
}
.btn-item:hover {
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.4), 0px 14px 32px rgba(255, 178, 14, 0.4);
}

.down-section {
  padding: 91px 0 75px 0;
  background-image: url(images/down-bcg.png);
  background-repeat: no-repeat;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}

.down__title {
  max-width: 728px;
  text-align: center;
  font-weight: 900;
  font-size: 57px;
  line-height: 97.5%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

.down__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 62px auto 0;
  padding: 21px 48px;
  background: linear-gradient(93.41deg, #f17228 -5.63%, #f15e28 100.8%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.down__btn:hover {
  transform: scale(1.05);
}

.footer {
  min-height: 936px;
  background-color: #212121;
  padding-top: 99px;
}

.cities__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 40px;
}

.cities__list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cities .items__list {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #f5f5f5;
}
.cities .items__list .items__list-name {
  margin-bottom: 16px;
  transition: all, 0.3s;
}
.cities .items__list .items__list-name:hover {
  text-decoration: underline;
  color: #ffb800;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 63px 0;
  margin-bottom: 16px;
  margin-top: 99px;
  border-bottom: 2px solid #424242;
  border-top: 2px solid #424242;
}
.about__link {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #f5f5f5;
  transition: color, 0.3s;
}
.about__link:hover {
  text-decoration: underline;
  color: #ffb800;
}
.about__left-side {
  display: flex;
  gap: 117px;
}
.about__left-side-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
}
.about__item {
  margin-bottom: 16px;
}
.about .right-side__title {
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #f5f5f5;
  opacity: 0.6;
  margin-bottom: 40px;
}

.social {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 43px;
  opacity: 0.31;
}

.social path:hover {
  fill: #ffb800;
  opacity: 1;
}

.follow__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #bbbbbb;
  margin-bottom: 40px;
}

.subscribe {
  display: flex;
  gap: 16px;
  align-items: center;
}

.block-input {
  display: flex;
  background: #424242;
  border-radius: 8px;
  padding-left: 16px;
  align-items: center;
  gap: 10px;
}

.input {
  padding: 17px 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #adadad;
  background: #424242;
  border-radius: 8px;
}

.subscribe__btn {
  padding: 21px 27px;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
  transition: all 0.3s;
}
.subscribe__btn:hover {
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.5), 0px 14px 32px rgba(255, 178, 14, 0.5);
}

.all-rights {
  display: flex;
  justify-content: space-between;
}

.all-rights__left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.first,
.last {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #f5f5f5;
}

.last {
  font-weight: 700;
}

.all-rights__right {
  display: flex;
  align-items: center;
  gap: 8px;
}
